extends ../../layout

block content
  h1 New Patron
  if(errors)
    h2.errors Ooops an error occured!
    ul.errors
        each error in errors
            li=error.message
  form(action='/patrons', method='post')
    include ../form-patron
    p
      input(type='submit', value='Create New Patron')