form.search(action=`/books/search/` method="get")
  //- label(for="#book_search")
  input#book_search(type="search", name='term', placeholder="title, author, genre, etc.")    
  input(type="submit" value="search") 