extends ../layout

block content
    .title_and_search
        h1= title
        include ./form-search-book
    p
        a.button(href='/books/new') Create New Book
    div.filter
        span Filters:
        ul.filter__buttons
            li
                a(href='/books') All
            li
                a(href='/books/overdue') Overdue
            li
                a(href='/books/checked-out') Checked Out         
    if totalPages && totalPages.length > 1               
        ul.pagination
            each pageNumber in totalPages
                li
                    +paginationUrl(partialUrl, pageNumber)
                                
    include ./book-list
                   
    
