extends ../layout

block content
    .title_and_search
        h1= title
        form.search(action=`/books/search/` method="get")
            //- label(for="#book_search")
            input#book_search(type="search", name='term', placeholder="title, author, genre, etc.")    
            input(type="submit" value="search") 
    p
        a.button(href='/books/new') Create New Book
    div.filter
        span Filters:
        ul.filter__buttons
            li
                a(href='/books') All
            li
                a(href='/books/overdue') Overdue
            li
                a(href='/books/checked-out') Checked Out         
    if totalPages && totalPages.length > 1               
        ul.pagination
            each pageNumber in totalPages
                li
                    +paginationUrl(partialUrl, pageNumber)
                                
    include ./book-list
                   
    
