extends ../../layout

block content
    h1= title
    if(errors)
        h2.errors Ooops an error occured!
        ul.errors
            each error in errors
                li=error.message

    form(action='/books', method='post')
        include ../form-book.pug
        p
            input(type='submit', value='Create New Book')