extends ../../layout

block content
  .title_and_search
    h1 Results for "#{query_term}"
    include ../form-search-book
  p
    a.button(href='/books/new') Create New Book    
  if books.length === 0
    div No results found for "#{query_term}"
  else  
    include ../book-list