form.search(action=`/patrons/search/` method="get")
  //- label(for="#book_search")
  input#book_search(type="search", name='patron', placeholder="first name, last name, etc" required)    
  input(type="submit" value="search") 