extends ../layout

block content
    .title_and_search
        h1 Patrons
        include ./form-search-patron.pug
    p
        a.button(href='/patrons/new') Create New Patron
    if totalPages && totalPages.length > 1               
        ul.pagination
            each pageNumber in totalPages
                li
                    a(href=`/patrons/page-${pageNumber}`, title="title") #{pageNumber}  
    include ./patron-list.pug
                